body {
  background-image: url(bg-still.jpg)
}

video#bgVideo {
position: fixed;
right: 0;
bottom: 50;
width: auto;
min-width: 125%;
height: auto;
min-height: 125%;
z-index: -100;    
background-size: cover;
pointer-events: none;
}

p {
  color: #ffffff;
  text-align: center;
  font-family: “Verdana”;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 800

.syne-heading {
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.h1 {
  font-weight: bold;
  color: #bfbfbf;
  font-size: 35px;
  border-radius: 10px;
  border-color: #808080;
  border-style: solid;
  font-family: Syne, sans-serif;

}
a {
  color: #ffffff;
  text-shadow: #808080 -1px 1px;
  text-align: center;
  text-decoration: none;
  font-family: Syne, sans-serif;
  
}

a:hover {
  color: #bfbfbf;
  text-align: center;
  text-decoration: none;
  font-family: Syne, sans-serif;
  font-weight: 700
  
}
s {
  font-weight: bold;
  color: #bfbfbf;
  text-align: center;
  font-size: 15px;
  text-decoration: none;
  font-family: “Syne”, sans-serif;

}

li {
  text-align: center;
  
  
}

#button{
  background-color:#000000;
  margin-top: 50px;
  border-radius:10px;
  border-color:#f0ffff;
  border-style:solid;
  display: block;
  text-align: center;
  
}

.more {
  color: #808080;
  opacity: 50%;
  margin-top: 50px
  
  
}

.credit{
  font-size: 20px;
  background-color: #00008b;
  border-radius: 10px;
  border-color: #f0ffff;
  border-style:solid;
  text-align: center;
  display: inline;
  float: right;
}

.credit2 {
  font-size: 30px;
  color: #00ffff;
  
  
}
